# What have I learned this semester with ML and Kaggle

## I have learned a lot

### Lets explore some

First of all, I have learnt about JupyterNotebook, and how to use it. Previously I have never heard of JupyterNotebook before, which is odd as it one of the best tools I have ever used. It is a must have tool for Python users. Not only it supports Python 2.7 but also the latest 3.4, which is awesome. I don't like the idea of Python not having backward combability within its versions, but no worries on that with JupyterNotebook. Importing, analyzing and visualizing of data has never been much easier. It can all be done with a few lines of code. I was also surprised to see that GitHub by default supports displaying JupyterNotebook, which is a very rare feature and much appreciated. I love JupyterNotebook.

Second, I learned about Classifiers, Regression and others. I learned what they are and how they work. It would have been much fun to build our own Classifiers, but I think that might be a little overkill for a bachelors degree, probably we can do in Masters. Write our own Classifiers, document it, write a paper on it, get published etc. Previously I never had any hands-on experience with any Classifiers, but now I know how to use them and what they do. One suitable definition could be that a Classifier is a supervised learning approach in which the computer program learns from the data input given to it and then uses this learning to classify new observation. This is fun.

Third, I have learned about basic packages that we can utilize while working with JupyterNotebook. Such libraries include but not limited to: numpy, pandas, matplotlib, sklearn, seaborn and others.

### Below is an example of how to include these libraries in a JupyterNotebook.

In [3]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Support for large, multi-dimensional arrays and matrices
import numpy as np

# Provide high-performance, easy-to-use data structures and data analysis tools
import pandas as pd

# To plot pretty figures
import matplotlib.pyplot as plt

# Contains classification, regression and clustering algorithms including support 
# vector machines
import sklearn
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# To train machine learning models effectively, distribute training jobs to 
# multiple machines in a cluster.
import tensorflow as tf

# Train/test split
from sklearn.model_selection import train_test_split

# Visualization tools
import seaborn as sbn

### Another example of how to work with data in JupyterNotebook

In [10]:
irisData = pd.read_csv('data/iris.csv')

irisData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [11]:
irisData.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
irisData.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Then, I have also learned about Dimensionality Reduction, Neural Networks, Precision and Recall, Decision Trees etc. To name then all would fill up this notebook. But these things that I have learned are all new to me, and I enjoyed learning each and every one of them. We also got introduced with Google TensorFlow (An open source machine learning framework for everyone), which is super cool. Because of Google now we have Machine Learning in JavaScript (with TensorFlow.js). Not only it is used for high performance numerical computation. Its flexible architecture allows easy deployment of computation across a variety of platforms (CPUs, GPUs, TPUs), and from desktops to clusters of servers to mobile devices.

Last but not least, I learned about Kaggle (it is a platform for predictive modelling and analytics competitions in which statisticians and data miners compete to produce the best models for predicting and describing the datasets uploaded by companies and users). It is such an awesome tool to have for people who are interested in Machine Learning. Not only it supports hosting your own Kernels but companies an organization can also create competitions for user so love Machine Learning. And winning one of those competitions means winning big bucks which is super fun. Participating in one of the competitions will give you an idea of what the world of Machine Learning looks like, where do you compare to other people around the world and etc. It also comes with hosting your own dataset which means it is a complete package, all in one together. It is one of the best tools and I would suggest everyone who is interested either in AI or machine learning to take a look at this.

In [4]:
strMessage = "Finally, thank you Dr. Ruby for this awesome semester in the world of Machine Learning."
print(strMessage)

Finally, thank you Dr. Ruby for this awesome semester in the world of Machine Learning.